<app-page-header [heading]="'Alerts management'" [waitMessage]="waitMessage" [screenID]="screenID"
    [icon]="'fa-bell'"></app-page-header>

<div class="content-section implementation" style="padding: 5px;">
    <p-toast [style]="{marginTop: '80px'}" position="top-right"></p-toast>
</div>

<!-- Confirmation when executing, removing alert -->
<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>


<!-- Dialog for saving change -->
<p-dialog header="Updates completed" [visible]="displayProcessCompleted" [modal]="true" [style]="{width: '50vw'}" [responsive]="true" [maximizable]="false">
    <span>{{msgDisplayed}}</span>
        <p-footer>
            <button style="float: right; margin-bottom:0.5em" 
                    type="button" pButton icon="fas fa-check" iconPos="right" (click)="displayProcessCompleted=false" 
                    label="Ok">
            </button>
        </p-footer>
  </p-dialog>

<!-- Dialog for launching report TEST -->
<p-dialog *ngIf="executionDataResultDisplay" header="{{searchResult[executionAlertIndex].ALTID}} - {{searchResult[executionAlertIndex].ALTSUBJECT}}" 
            [(visible)]="executionDataResultDisplay"
            (onShow)="showDialogMaximized($event,alertDetailResult)" [maximizable]="true" #alertDetailResult>
 
<div item-width="400px" table-layout="fixed">
    <p-table #resultExecution [value]="executionDataResult" sortMode="multiple" [rows]="20" [rowsPerPageOptions]="[20,50,100]"
        [paginator]="true" [pageLinks]="3" [columns]="columnsResultExecution" selectionMode="single"
        [resizableColumns]="true" columnResizeMode="fit" [responsive]="true"
        [totalRecords]="executionDataResult.length" [reorderableColumns]="true" scrollHeight="400px"
        (onRowSelect)="onRowSelect($event)" [autoLayout]="true" tableStyleClass="table-layout: auto;">

        <!-- FILTER -->
        <ng-template pTemplate="caption">
            <div class="table-header grid">
                <div class="col-1">
                    <span>
                        <button type="button" pButton icon="fas fa-file" iconPos="left"
                            class="CSV_Button p-input-icon-left ml-auto" pTooltip="{{csvButtonTooltip}}"
                            *ngIf="executionDataResult.length>0" label="CSV" (click)="resultExecution.exportCSV()" style="float:left">
                        </button>
                        <button type="button" pButton icon="fas fa-file" iconPos="left"
                            class="CSV_Button p-input-icon-left ml-auto" pTooltip="{{csvButtonTooltip}}" disabled
                            *ngIf="executionDataResult.length==0" label="CSV" (click)="resultExecution.exportCSV()" style="float:left">
                        </button>
                    </span>
                </div>
                <div class="col-11" style="text-align: right;">
                    <span class="p-input-icon-right">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text"
                            (input)="resultExecution.filterGlobal($any($event.target).value, 'contains')"
                            placeholder="Type text to filter..." />
                    </span>
                </div>
            </div>
        </ng-template>
        <!-- HEADER -->
        <ng-template pTemplate="header">
            <tr style="background: lightyellow;">
                <ng-container *ngFor="let col of columnsResultExecution">
                    <th [pSortableColumn]="col.field" pReorderableColumn pResizableColumn
                        [style.justify-content]="col.align">
                        {{col.header}}
                        <p-columnFilter type="text" [field]="col.field" display="menu"></p-columnFilter>
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                    </th>
                </ng-container>
            </tr>

            <ng-template pTemplate="caption">
                <div class="table-header">
                    <div class="pull-right p-input-icon-right FILTER_Right_Table">
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text"
                                (input)="resultExecution.filterGlobal($any($event.target).value, 'contains')"
                                placeholder="Global Search" />
                        </span>
                    </div>
                    <div>
                        <button type="button" pButton icon="fas fa-file" iconPos="left"
                            class="CSV_Button p-input-icon-left ml-auto" label="CSV" (click)="resultExecution.exportCSV()"
                            style="float:left"></button>
                    </div>
                </div>
            </ng-template>
        </ng-template>

        <!-- BODY -->
        <ng-template pTemplate="body" let-rowDataExecution let-columns="columnsResultExecution" let-globalIndice="rowIndexExecution">
            <tr [pSelectableRow]="rowDataExecution">
                <ng-container *ngFor="let col of columnsResultExecution; let indice=index" class="ui-resizable-column">
                    <td class="ui-resizable-column" [style.justify-content]="col.align">
                        <span pTooltip="{{col.tooltip}}">{{rowDataExecution[col.field]}}</span>
                    </td>
                </ng-container>
            </tr>
        </ng-template>
    </p-table>
    <i class="FOOTER_Table">{{executionDataResult.length}} references</i>
</div>
</p-dialog>

<!-- Dialog for capturing the parameter -->
<p-dialog *ngIf="captureParamDialog" header="{{searchResult[executionAlertIndex].ALTID}} - {{searchResult[executionAlertIndex].ALTSUBJECT}} parameters" 
            [(visible)]="captureParamDialog"  #alertParam>
    <div class="formgrid grid">
        <ng-container *ngFor="let param of executionAlertParamDesc; let indice=index" class="ui-resizable-column">
            <div class="field col-6">
                <label class="font-bold" for="param{{indice}}">{{param}}</label>
                        <input id="param{{indice}}" pInputText [(ngModel)]="executionAlertParam[indice]"
                            class="text-base text-color surface-overlay p-2 border-3 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full ng-untouched ng-pristine ng-valid">
            </div>
        </ng-container>
    </div>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" *ngIf="runReportDialog == 2" (click)="captureParamDialog = false; executeLocalQuery(executionAlertParam)" label="Ok" styleClass="p-button-text"></p-button>
        <p-button icon="pi pi-check" *ngIf="runReportDialog == 1" (click)="captureParamDialog = false; runReport(executionAlertParam)" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>

<!-- Dialog for XML file content -->
<p-dialog *ngIf="alertSQLFileDisplay" header="{{alertDisplay.ALTID}} - {{alertDisplay.ALTSUBJECT}}"  [style]="{width: '50vw'}"
            [(visible)]="alertSQLFileDisplay"  #alertParam>
    <div class="formgrid grid" style="border: 1px solid black;">
        <label class="font-bold" for="fileContent" style="font-weight: bold">{{alertDisplay.ALTFILE}}</label>
        <textarea id="fileContent" pInputText rows="20" [(ngModel)]="alertSQLFileContent" disabled
                 class="text-base text-color surface-overlay p-2 border-3 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full ng-untouched ng-pristine ng-valid">
        </textarea>
    </div>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="alertSQLFileDisplay = false" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>

<!-- Dialog for edit alert -->
<p-dialog *ngIf="alertDisplay" header="{{alertDisplay.ALTSUBJECT}}" [(visible)]="displayAlert"
    (onShow)="showDialogMaximized($event,alertDetail)" [maximizable]="true" #alertDetail>

    <div class="flex flex-row-reverse flex-wrap" style="padding-right: 20px;">
        <span>
            <button (click)="displayAlert=false" pButton="" icon="fas fa-close" label="CANCEL"
                style="margin-right: 15px; height: 35px;"></button>
            <button (click)="saveChanges()" pButton="" icon="fas fa-save" label="SAVE"
                style="margin-right: 15px; height: 35px;"></button>
        </span>

        <p-tabView style="width: 100%;">
            <p-tabPanel header="General" lefticon="fas fa-file-invoice">
                <div class="formgrid grid">
                    <div class="field col-6">
                        <label class="font-bold" for="alertid">ID</label>
                        <input id="alertid" pInputText value="{{alertDisplay.ALTID}}" disabled
                            class="text-base text-color surface-overlay p-2 border-3 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full ng-untouched ng-pristine ng-valid">
                    </div>
                    <div class="field col-6">
                        <label class="font-bold" for="altsubject">Title/Subject</label>
                        <input id="altsubject" pInputText [(ngModel)]="alertDisplay.ALTSUBJECT"
                            class="text-base text-color surface-overlay p-2 border-3 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full ng-untouched ng-pristine ng-valid">
                    </div>
                    <div class="field col-12">
                        <label class="font-bold" for="altcontent">Detail description in attachement(EXCEL)</label>
                        <textarea id="altcontent" pInputText rows="4" [(ngModel)]="alertDisplay.ALTCONTENT"
                            class="text-base text-color surface-overlay p-2 border-3 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full ng-untouched ng-pristine ng-valid"></textarea>
                    </div>
                    <div class="field col-12">
                        <label class="font-bold" for="altcontenthtml">Detail description (EMAIL)</label>
                        <textarea id="altcontenthtml" pInputText rows="4" [(ngModel)]="alertDisplay.ALTCONTENTHTML"
                            class="text-base text-color surface-overlay p-2 border-3 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full ng-untouched ng-pristine ng-valid"></textarea>
                    </div>
                    <div class="field col-8"><label class="font-bold" for="altfile">Query location (XML)</label>
                        <input id="altfile" pInputText [(ngModel)]="alertDisplay.ALTFILE"
                            class="text-base text-color surface-overlay p-2 border-3 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full ng-untouched ng-pristine ng-valid">
                    </div>
                    <div class="field col-1" style="width: 4%; text-align: -webkit-center;">
                        <label class="font-bold" for="altopen">File</label>
                        <button id="altopen" pButton icon="fas fa-file-code"
                            (click)="getFile(alertDisplay.ALTID, alertDisplay.ALTFILE)"
                            class="p-element p-2 border-3 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full p-button p-button-icon-only"
                            style="margin-top: 5px;">
                        </button>
                    </div>
                </div>
            </p-tabPanel>
            <p-tabPanel header="Distribution list" lefticon="fas fa-envelope-open">
                <div class="formgrid grid">
                    <div class="field col-3">
                        <label class="font-bold" for="daltemail">Email sent to:</label>
                        <p-chips #daltemail [(ngModel)]="alertSheduleDisplay_DALTEMAIL" 
                                (paste)="onPasteEmail($event)">
                        </p-chips>
                    </div>
                    <div class="field col-3">
                        <label class="font-bold" for="daltemailcc">Copy :</label>
                        <p-chips #daltemailcc [(ngModel)]="alertSheduleDisplay_DALTEMAILCC"
                                (paste)="onPasteEmailCC($event)">
                        </p-chips>
                    </div>
                    <div class="field col-3">
                        <label class="font-bold" for="daltemailbcc">Hidden copy :</label>
                        <p-chips #daltemailbcc [(ngModel)]="alertSheduleDisplay_DALTEMAILBCC"
                                (paste)="onPasteEmailBCC($event)">
                        </p-chips>
                    </div>
                </div>
            </p-tabPanel>
            <p-tabPanel header="Printing" lefticon="fas fa-print">
                <div class="formgrid grid">
                    <div class="field col-6">
                        <label class="font-bold" for="alertorientation">Orientation</label>
                        <p-dropdown id="alertorientation" [options]="['landscape', 'portrait']" [(ngModel)]="alertDisplay.ALTORIENTATION">
                        </p-dropdown>
                    </div>
                    <div class="field col-6">
                        <label class="font-bold" for="altmargin">Margin</label>
                        <input id="altmargin" pInputText [(ngModel)]="alertDisplay.ALTMARGIN"
                            class="text-base text-color surface-overlay p-2 border-3 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full ng-untouched ng-pristine ng-valid">
                    </div>
                    <div class="field col-6">
                        <label class="font-bold" for="alertprintarea">Print area</label>
                        <input id="alertprintarea" pInputText [(ngModel)]="alertDisplay.ALTPRINTAREA"
                            class="text-base text-color surface-overlay p-2 border-3 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full ng-untouched ng-pristine ng-valid">
                    </div>
                    <div class="field col-2">
                        <label class="font-bold" for="alertfitpage">Fit page</label>
                        <p-checkbox id="alertfitpage" [(ngModel)]="alertDisplay.ALTFITPAGEBOOLEAN" [binary]="true"
                            class="p-element text-base text-color surface-overlay p-2 surface-border border-round appearance-none outline-none focus:border-primary w-full ng-untouched ng-pristine ng-valid">
                        </p-checkbox>
                    </div>
                    <div class="field col-2">
                        <label class="font-bold" for="alertfreezeheader">Freeze header</label>
                        <p-checkbox id="alertfreezeheader" [(ngModel)]="alertDisplay.ALTFREEZEHEADERBOOLEAN" [binary]="true"
                            class="p-element text-base text-color surface-overlay p-2 surface-border border-round appearance-none outline-none focus:border-primary w-full ng-untouched ng-pristine ng-valid">
                        </p-checkbox>
                    </div>
                    <div class="field col-2">
                        <label class="font-bold" for="alertborder">Border</label>
                        <p-checkbox id="alertborder" [(ngModel)]="alertDisplay.ALTBORDERBOOLEAN" [binary]="true"
                            class="p-element text-base text-color surface-overlay p-2 surface-border border-round appearance-none outline-none focus:border-primary w-full ng-untouched ng-pristine ng-valid">
                        </p-checkbox>
                    </div>
                    <div class="field col-3">
                        <label class="font-bold" for="altfitheight">Nb rows/page</label>
                        <input id="altfitheight" pInputText [(ngModel)]="alertDisplay.ALTHEIGHT"
                            class="text-base text-color surface-overlay p-2 border-3 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full ng-untouched ng-pristine ng-valid ng-star-inserted"><!----><!---->
                    </div>
                    <div class="field col-3">
                        <label class="font-bold" for="altfitwidth">Nb columns/page</label>
                        <input id="altfitwidth" pInputText [(ngModel)]="alertDisplay.ALTFITWIDTH"
                            class="text-base text-color surface-overlay p-2 border-3 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full ng-untouched ng-pristine ng-valid ng-star-inserted"><!----><!---->
                    </div>
                    <div class="field col-3"><label class="font-bold" for="alttitlerepeat">Header</label>
                        <input id="alttitlerepeat" pInputText [(ngModel)]="alertDisplay.ALTTITLEREPEAT"
                            class="text-base text-color surface-overlay p-2 border-3 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full ng-untouched ng-pristine ng-valid">
                    </div>
                    <div class="field col-3">
                        <label class="font-bold" for="altfooter">Footer</label>
                        <input id="altfooter" pInputText [(ngModel)]="alertDisplay.ALTFOOTER"
                            class="text-base text-color surface-overlay p-2 border-3 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full ng-untouched ng-pristine ng-valid">
                    </div>
                    <div class="field col-3">
                        <label class="font-bold" for="altxlsbreak">Row break</label>
                        <input id="altxlsbreak" pInputText [(ngModel)]="alertDisplay.ALTXLSBREAK"
                            class="text-base text-color surface-overlay p-2 border-3 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full ng-untouched ng-pristine ng-valid">
                    </div>
                    <div class="field col-3">
                        <label class="font-bold" for="altscale">Scale</label>
                        <input id="altscale" pInputText [(ngModel)]="alertDisplay.ALTSCALE"
                            class="text-base text-color surface-overlay p-2 border-3 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full ng-untouched ng-pristine ng-valid">
                    </div>
                    <div class="field col-6">
                        <label class="font-bold" for="altcolmove">Move columns</label>
                        <input id="altcolmove"  pInputText [(ngModel)]="alertDisplay.ALTCOLMOVE"
                            class="text-base text-color surface-overlay p-2 border-3 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full ng-untouched ng-pristine ng-valid">
                    </div>
                    <div class="field col-6">
                        <label class="font-bold" for="altformat">Format HTML</label>
                        <textarea id="altformat" pInputText [(ngModel)]="alertDisplay.ALTFORMAT" rows="8"
                            class="text-base text-color surface-overlay p-2 border-3 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full ng-untouched ng-pristine ng-valid"></textarea>
                    </div>
                    <div class="field col-6">
                        <label class="font-bold" for="altformatxls">Format EXCEL</label>
                        <textarea
                            id="altformatxls" pInputText [(ngModel)]="alertDisplay.ALTFORMATXLS" rows="8"
                            class="text-base text-color surface-overlay p-2 border-3 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full ng-untouched ng-pristine ng-valid"></textarea>
                    </div>
                    <div class="field col-6">
                        <label class="font-bold" for="altformatxls">Format EXCEL (second tab)</label>
                        <textarea
                            id="altformattab2xls" pInputText [(ngModel)]="alertDisplay.ALTFORMATTAB2XLS" rows="8"
                            class="text-base text-color surface-overlay p-2 border-3 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full ng-untouched ng-pristine ng-valid"></textarea>
                    </div>
                </div>
            </p-tabPanel>
            <p-tabPanel header="Scheduling" lefticon="fas fa-clock">
            </p-tabPanel>
        </p-tabView>

    </div>


</p-dialog>

<!-- Search Panel -->
<div class="bbs_search_panel">
    <span style="margin-right: 2.2em; padding-left: 15px; font-weight: bolder;">Alert :</span>
    <span style="padding-right: .5em; align-self: center;">
        <input type="text" [(ngModel)]="searchAlertId" placeholder="Identifiant"
            style="margin-left: 10px; height: 35px;">
    </span>
    <span style="margin-right: 2.2em; padding-left: 15px; font-weight: bolder;">Description : </span>
    <span style="padding-right: .5em; align-self: center;">
        <input type="text" [(ngModel)]="searchAlertDesc" placeholder="Enter a code or a description"
            style="margin-left: 10px; height: 35px; width: 200%;">
    </span>

    <span class="pull-right" style="padding-right: 20px">
        <button pButton (click)="search()" icon="fas fa-search" label="SEARCH" [style]="{'height': '35px'}"></button>
        <button pButton (click)="search()" icon="fas fa-sync-alt" [style]="{'height': '35px'}"></button>
    </span>
</div>
<div class="bbs_search_sub_panel">
    <span style="margin-right: 1.3em; padding-left: 15px; font-weight: bolder;">In distribution list : </span>
    <span style="padding-right: .5em; align-self: center;">
        <input type="text" [(ngModel)]="searchAlertEmail" placeholder="  user email"
            style="margin-left: 10px; height: 35px; width: 40%;">
    </span>
</div>

<!-- Result search panel -->
<div item-width="400px" table-layout="fixed" *ngIf="searchResult !== null">
    <p-table #result [value]="searchResult" sortMode="multiple" [rows]="20" [rowsPerPageOptions]="[20,50,100]"
        [paginator]="true" [pageLinks]="3" [columns]="columnsResult" selectionMode="single"
        [(selection)]="selectedElement" [resizableColumns]="true" columnResizeMode="fit" [responsive]="true"
        [totalRecords]="searchResult.length" [reorderableColumns]="true" scrollHeight="400px"
        (onRowSelect)="onRowSelect($event)" [autoLayout]="true" tableStyleClass="table-layout: auto;">

        <!-- FILTER -->
        <ng-template pTemplate="caption">
            <div class="table-header grid">
                <div class="col-1">
                    <span>
                        <button type="button" pButton icon="fas fa-file" iconPos="left"
                            class="CSV_Button p-input-icon-left ml-auto" pTooltip="{{csvButtonTooltip}}"
                            *ngIf="searchResult.length>0" label="CSV" (click)="result.exportCSV()" style="float:left">
                        </button>
                        <button type="button" pButton icon="fas fa-file" iconPos="left"
                            class="CSV_Button p-input-icon-left ml-auto" pTooltip="{{csvButtonTooltip}}" disabled
                            *ngIf="searchResult.length==0" label="CSV" (click)="result.exportCSV()" style="float:left">
                        </button>
                    </span>
                </div>
                <div class="col-2">
                    <span>
                        <button type="button" pButton icon="pi pi-plus" iconPos="left"
                            class="CREATE_Button p-button-secondary" style="" label="CREATE" (click)="createAlert()"
                            style="float:left">
                        </button>
                    </span>
                </div>
                <div class="col-9" style="text-align: right;">
                    <span class="p-input-icon-right">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text"
                            (input)="result.filterGlobal($any($event.target).value, 'contains')"
                            placeholder="Type text to filter..." />
                    </span>
                </div>
            </div>
        </ng-template>
        <!-- HEADER -->
        <ng-template pTemplate="header">
            <tr style="background: lightyellow;">
                <ng-container *ngFor="let col of columnsResult">
                    <th *ngIf="col.display" [pSortableColumn]="col.field" pReorderableColumn pResizableColumn
                        [style.justify-content]="col.align">
                        {{col.header}}
                        <p-columnFilter type="text" [field]="col.field" display="menu"></p-columnFilter>
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                    </th>
                </ng-container>
            </tr>

            <ng-template pTemplate="caption">
                <div class="table-header">
                    <div class="pull-right p-input-icon-right FILTER_Right_Table">
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text"
                                (input)="result.filterGlobal($any($event.target).value, 'contains')"
                                placeholder="Global Search" />
                        </span>
                    </div>
                    <div>
                        <button type="button" pButton icon="fas fa-file" iconPos="left"
                            class="CSV_Button p-input-icon-left ml-auto" label="CSV" (click)="result.exportCSV()"
                            style="float:left"></button>
                    </div>
                </div>
            </ng-template>
        </ng-template>

        <!-- BODY -->
        <ng-template pTemplate="body" let-rowData let-columns="columnsResult" let-globalIndice="rowIndex">
            <tr [pSelectableRow]="rowData">
                <ng-container *ngFor="let col of columnsResult; let indice=index" class="ui-resizable-column">
                    <td class="ui-resizable-column" [style.justify-content]="col.align">
                        <span *ngIf="col.field!='ACTION'" pTooltip="{{col.tooltip}}">{{rowData[col.field]}}</span>

                        <span *ngIf="col.field=='ACTION'" style="text-align: center;">
                            <button pButton pRipple tooltipPosition="bottom" icon="pi pi-pencil"
                                (click)="editAlert(rowData['ALTID'])" pTooltip="Edit alert"
                                class="p-button-rounded p-button-sm p-button-secondary"
                                style="height: 3em; width: 3em; border-color: white !important; color: white !important;">
                            </button>
                            <button pButton pRipple tooltipPosition="bottom" icon="pi pi-copy"
                                pTooltip="Duplicate alert" class="p-button-rounded p-button-sm p-button-secondary"
                                style="height: 3em; width: 3em; border-color: white !important; color: white !important;">
                            </button>
                            <button pButton pRipple tooltipPosition="bottom" icon="pi pi-play"
                                pTooltip="[Test alert]  will show alert result only"
                                (click)="confirmExecutionLocalQuery(rowData['ALTID'])"
                                class="p-button-rounded p-button-sm p-button-secondary"
                                style="height: 3em; width: 3em; border-color: white !important; color: white !important;">
                            </button>
                            <button pButton pRipple tooltipPosition="bottom" icon="pi pi-forward"
                                pTooltip="[Run alert]  will send email to distribution list"
                                (click)="confirmRunReport(rowData['ALTID'])"
                                class="p-button-rounded p-button-sm p-button-secondary"
                                style="height: 3em; width: 3em; border-color: white !important; color: white !important;">
                            </button>
                            <button pButton pRipple tooltipPosition="bottom" icon="pi pi-minus"
                                pTooltip="[Remove alert]" class="p-button-rounded p-button-sm p-button-secondary"
                                (click)="removeReport(rowData['ALTID'])"
                                style="height: 3em; width: 3em; border-color: white !important; color: white !important;">
                            </button>
                        </span>
                    </td>
                </ng-container>
            </tr>
        </ng-template>
    </p-table>
    <i class="FOOTER_Table">{{searchResult.length}} references</i>
</div>