<div [@routerTransition]>
    <app-page-header [heading]="'Recent Activities Overview'" [icon]="'fas fa-thumbtack'"></app-page-header>
</div>

<div class="omnibar">
    <div style="width:100%; float: right" class="blur">
        <button class="btn btn-secondary topmenubutton"  pTooltip="Add a widget" tooltipPosition="top" type="button" 
                (click)="grid.addWidgetWithoutData()">
                <span class="fas fa-plus-circle"></span>
        </button>
        <button class="btn btn-secondary topmenubutton" pTooltip="Reorganize" tooltipPosition="top" type="button">
                <span class="fas fa-window-maximize"></span>
        </button>
        <button class="btn btn-secondary topmenubutton" pTooltip="Save layout" tooltipPosition="top" type="button">
                <span class="fas fa-save"></span>
        </button>
    </div>
</div>
<div class="main-content">
    <gridster [options]="grid.gridsterOptions" [draggableOptions]="grid.gridsterDraggableOptions" (reflow)="grid.onReflow($event)"
              (optionsChange)="grid.optionsChange($event)" #gridster1 class="dashboard">

        <gridster-item *ngFor="let widget of this._widgetService.widgetsInfo.widgets; let indx = index" #itemComp
                       [options]="grid.itemOptions"
                       [dragAndDrop]="widget.dragAndDrop" [resizable]="widget.resizable"
                       [(x)]="widget.x" [(y)]="widget.y"
                       [(xSm)]="widget.xSm" [(ySm)]="widget.ySm"
                       [(xMd)]="widget.xMd" [(yMd)]="widget.yMd"
                       [(xLg)]="widget.xLg" [(yLg)]="widget.yLg"
                       [(xXl)]="widget.xXl" [(yXl)]="widget.yXl"
                       [(w)]="widget.w" [(h)]="widget.h"
                       (change)="grid.itemChange($event, gridster1)">

            <div class="panel-heading widget-header">
                <div style="float: right; margin: 2px; margin-block-start: -10px">
                    <small >
                        <button class="btn btn-light widget-button" pTooltip="Height -/+" 
                                tooltipPosition="top" type="button"
                                (click)="grid.setHeight(widget, widget.h+1, $event, gridster1)"
                                (contextmenu)="grid.setHeight(widget, widget.h-1, $event, gridster1)">
                                <span class="fas fa-arrows-alt-v fa-lg"></span>
                        </button>
                        <button class="btn btn-light widget-button" pTooltip="Width -/+" tooltipPosition="top" type="button"
                                (click)="grid.setWidth(widget, widget.w+1, $event, gridster1)"
                                (contextmenu)="grid.setWidth(widget, widget.w-1, $event, gridster1)">
                                <span class="fas fa-arrows-alt-h "></span>
                        </button>
                        <button class="btn btn-light widget-button" pTooltip="Drop" 
                                tooltipPosition="top" type="button"
                                (click)="grid.remove($event, indx,gridster1)">
                                <span class="fas fa-times fa-lg"></span>
                        </button>
                        </small>
                </div>
                <h5 class="panel-title">
                    <input class="widget-title" type="text" placeholder="{{ widget.title }}">
                </h5>
            </div>

            <div class="panel-body">
                <div *ngIf="!widget.dataReady">
                    <svg class="loading_spinner" viewBox="0 0 50 50" >
                        <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
                    </svg>
                </div>
                <div *ngIf="widget.dataReady" style="padding-top: 5px">
                    <!-- TABLE RESULT WIDGET -->
                    <div *ngIf="widget.widtable==1">
                        <p-dataTable #result [value]="widget.result"sortMode="multiple"
                        [resizableColumns]="true" columnResizeMode="expand"
                        [rows]="widget.widrows"  [rowsPerPageOptions]="[5,10,50,100]"
                        [paginator]="true" [pageLinks]="3" 
                        [responsive]="true" [totalRecords]="totalRecords"
                        [reorderableColumns]="true" scrollHeight="400px"
                        [globalFilter]="gb" [autoLayout]="true"
                        selectionMode="single" [(selection)]="selectedElement" tableStyleClass="table-layout: auto;">
                            <p-header >
                                <div class="pull-right">
                                <input  type="text" #gb placeholder="Type text to filter..." 
                                    style="width:400px; border-radius: 10px">
                                </div>
                                <div class="ui-helper-clearfix" >
                                <button type="button" pButton icon="fas fa-file" iconPos="left" 
                                    class="CSV_Button"
                                    label="CSV" (click)="result.exportCSV()" style="float:left"></button>
                                </div>
                            </p-header>
                            <p-column *ngFor="let col of widget.columns" [field]="col.field" [header]="col.header" [sortable]="true"></p-column>
                        </p-dataTable>
                    </div>
                </div>
            </div>

        </gridster-item>

    </gridster>
</div>