html, body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: linear-gradient(#123, #111);
}

$topnav-background-color:linear-gradient(to top,#040308,#AD4A28,#DF723C,#FC7001,#DCB697,#9BA5AE,#3E5879,#020B1A);

.snowflake {
  --size: 1vw;
  width: var(--size);
  height: var(--size);
  background: white;
  border-radius: 50%;
  position: absolute;
  top: -5vh;
}

@keyframes snowfall {
  0% {
    transform: translate3d(var(--left-ini), 0, 0);
  }
  100% {
    transform: translate3d(var(--left-end), 110vh, 0);
  }
}

@for $i from 1 through 50 {
  .snowflake:nth-child(#{$i}) {
    --size: #{random(5) * 0.2}vw;
    --left-ini: #{random(20) - 10}vw;
    --left-end: #{random(20) - 10}vw;
    left: #{random(100)}vw;
    animation: snowfall #{5 + random(10)}s linear infinite;
    animation-delay: -#{random(10)}s;
  }
}

/* added small blur every 6 snowflakes*/
.snowflake:nth-child(6n) {
  filter: blur(1px);
}


// Happy holiday
h2{
	font-weight: 700;
	color: #fff;
	font-size: 5em;
	text-shadow: 0 20px 20px rgba(0,0,0,.5);
  font-family: 'Dancing Script', cursive;
  position: absolute;
  top: 35%;
  left: 76%;
  text-align: -webkit-center;
}

