
/*******************************************/
/* Override Prime-ng DATATABLE CSS         */
/*******************************************/

:host ::ng-deep .CSV_Button {
    color: white; 
    background: #255; 
    border-radius:20px;
    border:0; 
    font-size:1em;
}

:host ::ng-deep .CSV_Button:hover {
    background: #2399e5; 
}

:host ::ng-deep  .ui-datatable th.ui-state-active {
    color: red;
}

:host ::ng-deep .header_filter input {
    background-color: white;
    padding: 1px;
    border-width: 2px;
    border-style: inset;
    border-radius: 10px;
    width: 400px;
}


:host ::ng-deep .ui-datatable th.ui-state-active {
    color:red;
}


:host ::ng-deep .ui-datatable table {
    table-layout: auto;
}


:host ::ng-deep .ui-datatable .ui-datatable-header {
    background-color: #fff;
    font-weight: 100;
    font-size: smaller;
}


p-dataTable.ui-widget-header::ng-deep {
    background-color: #fff !important; 
    font-weight: 100 !important;
    font-size: smaller !important;
    border: none;
}

:host ::ng-deep  .ui-datatable .ui-datatable-thead>tr>th {
    background: white;
    border: 0;
    font-weight: 100;
    font-size: 0.5em;
}


:host ::ng-deep .ui-datatable .ui-paginator {
    background: white;
    border: none;
    font-size: smaller;
}


//:host ::ng-deep .ui-datatable-resizable {
    //height: -webkit-fill-available;
//}

:host ::ng-deep .ui-datatable tbody > tr.ui-widget-content {
    font-size: smaller;
    border: white;
    border-bottom-color: lightgray;
    border-top-color: lightgray;
}

:host ::ng-deep .ui-button-text-icon-left .ui-button-text {
    padding: .5em 1em .5em 2em;
    display: initial;
}

:host ::ng-deep .ui-dropdown-trigger ui-state-default ui-corner-right {
    font-size:0.9em;
}

:host ::ng-deep .ui-lightbox-content.ui-lightbox-loading + a { display:none; } 

// Notification - Dialog
:host ::ng-deep .ui-dialog.ui-widget .ui-dialog-titlebar {
    padding: 0.2em 1.5em;
}
:host ::ng-deep .ui-dialog.ui-widget .ui-dialog-content {
    padding: 1em 0.5em 1em 2em;
    font-size: larger;
}

:host ::ng-deep .ui-dialog.ui-widget .ui-dialog-titlebar .ui-dialog-title {
    font-size: 1em;
}

:host ::ng-deep .ui-widget-content {
    border: none;
    border-top: 1px solid #D5D5D5;
}

// Input no outline
:host ::ng-deep input, input:valid {
    outline: none;
}