<nav class="sidebar summer-sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}"
    *ngIf="_userService.userInfo" style="padding-top:1%">
    <ul class="list-group">
        <a routerLink="/dashboard" routerLinkActive="router-link-active" class="list-group-item">
            <i class="fas fa-tachometer-alt"></i>&nbsp; Dashboard
        </a>

        <ng-container *ngIf="!_userService.userInfo.aiMenuMode">
            <app-sidebar-menu [nodes]="menuAccess.standardTree" [showMenu]="showMenu"
                (expand)="addExpandClass($event)"></app-sidebar-menu>
        </ng-container>

        <ng-container *ngIf="_userService.userInfo.aiMenuMode">
            <app-sidebar-menu [nodes]="menuAccess.aiTree" [showMenu]="showMenu"
                (expand)="addExpandClass($event)"></app-sidebar-menu>
        </ng-container>

        <li *ngIf="menuAccess.loadFailed" class="p-3 text-muted small">
            Menu catalog not loaded. Run <strong>35_menu_access_libquery.sql</strong> (DDL block if needed),
            log out, and log in again.
        </li>
    </ul>
</nav>

<nav class="sidebar_admin summer-sidebar-admin" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}"
    *ngIf="_userService.userInfo">
    <ul class="list-group" *ngIf="_userService.userInfo.type == '1' && menuAccess.adminTree.length">
        <app-sidebar-menu [nodes]="menuAccess.adminTree" [showMenu]="showMenu"
            (expand)="addExpandClass($event)"></app-sidebar-menu>
    </ul>
    <div class="logo">
        <img style="width: 50%" *ngIf="_userService.userInfo.mainEnvironment[0]?.picture"
            [src]="_userService.userInfo.mainEnvironment[0].picture" alt="Picture">
    </div>
</nav>
