<div class="row">
    <div class="col-xl-12">
        <h2 class="page-header" style="text-align: right; font-size: 1em;font-weight: bolder">
            {{heading}}
        </h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <i class="fas fa-tachometer-alt"></i> 
                    <a href="Javascript:void(0)" [routerLink]="['/dashboard']" style="padding: 0.5em">Dashboard</a>
            </li>
            <li class="breadcrumb-item active"><i class="fa {{icon}}"></i> {{heading}}</li>
        </ol>
    </div>
</div>
