<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <ul class="list-group">
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp; {{ 'MENU0000000001' | translate}}
        </a>

<!-- Administration section -->
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('admin')">
                <span><i class="fa fa-users"></i> &nbsp; {{ 'MENU0000000002' | translate}}</span>
            </a>
            <li class="nested" [ngClass]="{'expand' : showMenu === 'admin' }">
                <ul class="submenu">
                    <li>
                        <a href="#"><span>> {{ 'MENU0000000003' | translate}}</span></a>
                    </li>
                    <li>
                        <a href="#"><span>> {{ 'MENU0000000004' | translate}}</span></a>
                    </li>
                    <li>
                        <a href="#"><span>> {{ 'MENU0000000005' | translate}}</span></a>
                    </li>
                    <li>
                        <a href="#"><span>> {{ 'MENU0000000006' | translate}} </span></a>
                    </li>
                </ul>
            </li>
        </div>

        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('interfacing')">
                <span><i class="fa fa-cloud-upload"></i> &nbsp; {{ 'MENU0000000015' | translate}} </span>
            </a>
            <li class="nested" [ngClass]="{'expand' : showMenu === 'interfacing' }">
                <ul class="submenu" >
                    <li>
                        <a routerLink="/category" [routerLinkActive]="['router-link-active']" ><span>> {{ 'MENU0000000016' | translate}}</span></a>
                    </li>
                </ul>
            </li>
        </div>
        <a routerLink="/counting" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-university"></i>&nbsp; {{ 'MENU0000000007' | translate}}
        </a>
        <a routerLink="/schedule" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-calendar"></i>&nbsp; {{ 'MENU0000000008' | translate}}
        </a>
        <a routerLink="/search" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-search"></i>&nbsp; {{ 'MENU0000000009' | translate}}
        </a>
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('mdm')">
                <span><i class="fa fa-heartbeat"></i> &nbsp; {{ 'MENU0000000010' | translate}} </span>
            </a>
            <li class="nested" [ngClass]="{'expand' : showMenu === 'mdm' }">
                <ul class="submenu" >
                    <li>
                        <a href="#" ><span>> {{ 'MENU0000000011' | translate}}</span></a>
                    </li>
                    <li>
                        <a href="#" ><span>> {{ 'MENU0000000012' | translate}}</span></a>
                    </li>
                    <li>
                        <a href="#"><span>> {{ 'MENU0000000013' | translate}} </span></a>
                    </li>
                    <li>
                        <a href="#"><span>> {{ 'MENU0000000014' | translate}}</span></a>
                    </li>
                </ul>
            </li>
        </div>


        <a [routerLink]="['/charts']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;{{ 'charts' | translate }}
        </a>
        <a [routerLink]="['/tables']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-table"></i>&nbsp;{{ 'tables' | translate }}
        </a>
        <a [routerLink]="['/forms']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-edit"></i>&nbsp;{{ 'forms' | translate }}
        </a>
        <a [routerLink]="['/bs-element']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-desktop"></i>&nbsp;{{ 'boostrapElement' | translate }}
        </a>
        <a [routerLink]="['/grid']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-wrench"></i>&nbsp;{{ 'boostrapGrid' | translate }}
        </a>
        <a [routerLink]="['/components']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-th-list"></i>&nbsp;{{ 'component' | translate }}
        </a>
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('pages', 'menu')">
                <span><i class="fa fa-plus"></i>&nbsp;{{ 'menu' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'pages'">
                <ul class="submenu">
                    <li>
                        <a href="javascript:void(0)"><span>{{ 'submenu' | translate }}</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><span>{{ 'submenu' | translate }}</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><span>{{ 'submenu' | translate }}</span></a>
                    </li>
                </ul>
            </li>
        </div>
        <a [routerLink]="['/blank-page']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-file-o"></i>&nbsp;{{ 'blankPage' | translate }}
        </a>
        <a class="list-group-item more-themes" href="http://www.strapui.com/" >
            {{ 'moretheme' | translate }}
        </a>
    </ul>
</nav>
